body {
    background: #fff;
}

div,
button,
input {
    display: block;
    margin: 0 auto;
}

audio {
    visibility: hidden;
}
.main {
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

#logo {
    display: block;
    margin: 0 auto;
    margin-top: 10%;
}

.inlined {
    text-align: center;
}

.input {
    width: 50%;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.btn {
    background: #f3f3f3;
    border: none;
    padding: 15px;
    display: inline-block;
    color: #525252;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    background: #DBDBDB;
    color: #000;
}